*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
}

main{
    height: calc(100vh - 80px);
    width: 100vw;
}

#sidebar{
    width: 150px;
    height: 100%;
    background-color: blue;
}

#dashboard{
    width: calc(100% - 150px);
    height: 100%;
    background-color: red;
}